*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
// section 1 scss
.nav{
    color: blue;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: rgb(124, 4, 124,0.4);
    height: 15vh;
    padding: 1.5rem 1rem;
    align-items: center;
    
    h1{
       text-transform: uppercase;
       text-align: center;
       min-width: 20%;
       margin: auto;
    }

    button{
        padding: 1rem;
        outline: none;
        border: none;
        border-radius: 7px;
        box-shadow: -2px 2px 0px gray;
        &:hover{
            background-color: black;
            color: white;
           }
    }
}

// end of section 1

// section 2
.search{
    width: 70%;
    margin: auto ;
    border: 1px solid red;
    margin-top: 2rem;
    display:flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    input{
        width: 45%;
        height: 6vh;
        outline: none;
        border: none;
        border-color: white;
        padding: 0.5rem 1.5rem;
    }

    label{
        font-size: 2vw;
        text-transform: uppercase;
        background-color: rgb(132, 8, 132,0.7);
        margin-left: 2rem;
        border-radius: 9px;
        box-shadow: -2px 2px 0px gray;
        padding: 1rem;
        &:hover{
            background-color: rgb(250, 0, 0,0.4);
            color: white;
        }
       
    }
}
// end of section 2 scss

// section 3
 .tasks{
    border: 2px double red;
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    padding: 1rem;

    h1{
        text-align: center;
        font-size: 1.8vw;
        font-weight: bold;
    }

    ol{
        margin-top: 1.7rem;
        padding: 1rem;
        list-style-type: none;

        li{
            display:flex;
            align-content: center;
            justify-content: space-between;
            background-color: rgb(132, 6, 132,0.3);
            margin: 0.5rem 0rem;
            padding: 1rem;
            span{
                font-size: 2.2vw;
            }

            &:hover{
                background-color: rgb(9, 9, 238,0.5);
                color: white;
            }

            .delete{
                background-color: rgb(132, 8, 132,0.7);
                padding: 0.5rem;
                border-radius: 5px;
                box-shadow: -2px 2px 0px gray;

                &:hover{
                    background-color: rgb(250, 0, 0,0.4);
                    color: white;
                }
            }
        }
    }
 }
// end of section 3

// section 4
 .addTask{
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    border: 1px solid red;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.5rem;

    input{
        width: 50%;
        border: none;
        outline: none;
        height: 6vh;
        padding: 0.5rem 3rem;
        font-size: 1.5vw;
    }

    button{
        background-color: rgb(132, 8, 132,0.7);
        padding: 0.5rem;
        margin-left: 4rem;
        font-size: 1.5rem;
        text-transform: capitalize;
        box-shadow: -2px 2px 0px gray;
        border: none;
        outline: none;
        border-radius: 9px;

        &:hover{
            background-color: rgb(250, 0, 0,0.4);
            color: white;
        }
    }

 }
// end of section 4

.darkTheme{
    background-color: rgb(27, 26, 26, 0.8);
    color: white;
}

body{
    position: relative;
    // height: 500vh;
}

// .diag{
//    display: none;
// }

.diagState{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
    margin: auto;
    min-height: 10vh;
    background-color: lightcoral;
    text-align: center;
    padding: 1rem;
    position: fixed;
    top: 50vh;
    left: 40%;

    h4{
        text-transform: uppercase;
        border-bottom: 2px solid blue;
        width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-items: center;
      .title{
        flex-grow: 3;
        // border: 1px solid red;
      }

    }

    .info{
        text-transform: capitalize;
        background-color: inherit;
        font-size: 2.5vw;
        width: 90%;
        word-wrap: break-word;
        outline:none;
        border: none;
        color: blue;
      }
}